* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    min-height: 375px;
}

ul {
    list-style: none;
}

.main {

    min-height: 100vh;
    background: #eff2f9;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card {
    width: 100%;
    max-width: 1170px;
    min-height: 800px;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    background-color: #fff;
    padding: 60px 0 70px 0;
    display: flex;

}

.product-image-block {
    min-width: 540px;
    border-right: 2px solid rgba(20, 20, 20, 0.15);
    display: flex;
    flex-direction: column;

}

.main-img-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

}

.preview-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;

}

.preview {
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.preview.selected,
.preview:hover {
    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);

}


.product-info-block {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.9);
    margin-bottom: 5px;
}

.subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.4);
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);
    margin-bottom: 60px;

}

.color-options {
    margin-top: 65px;
}

.colors {
    display: flex;
    gap: 26px;
    align-items: center;
}

.colors-items {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    padding: 7px;
    cursor: pointer;
    transition: .2s;
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;

}


.colors-items.selected,
.colors-items:hover {
    box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
}

.blue {
    background-color: #013c7d;
}

.green {
    background-color: #63cba7;
}

.red {
    background-color: #d52f29;
}

.black {
    background-color: #141414;
}

.yellow {
    background-color: #f2c723;
}


.wrapper {
    display: flex;
    margin-top: 65px;
}

.wrapper > div {
    flex-grow: 1;
}

.quantity {
    width: 80px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
    border: none;
    appearance: none;
    background-image: url(./assets/ph_caret-down-bold.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    font-family: "Rubik", sans-serif;
    background-color: transparent;
}

.price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
}

.btn {
    width: 100%;
    height: 70px;
    background: #141414;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-top: 75px;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1440px) {
    .card {
        width: 690px;
        flex-direction: column;
        margin: 40px;

    }
.product-info-block {
    border-right: none;
    border-left: 2px solid rgba(20, 20, 20, 0.15);
}
.preview-wrapper {
    margin: 60px 0 70px;
}
.product-info-block {
    padding:60px 60px 70px;
}
}

 @media screen and (max-width: 1060px) {
     .card {
         flex-direction: column;
     }

     .product-image-block {
         border-bottom: 2px solid rgba(20, 20, 20, 0.15);
         border-right: none;
         min-width: auto;
     }

     .preview-wrapper {
         margin-top: 60px;
     }

     .product-info-block {
         padding-top: 60px;

     }

 }

/*mobile*/

@media screen and (max-width: 576px) {

    .card {
        margin: 15px 15px 40px;
        padding-bottom: 60px;
    }

    .product-info-block {
        padding-right: 20px;
        padding-left: 20px;
    }

    .main-img-wrapper img {
        width: 250px;
    }

    .card-title {
        font-size: 34px;

    }

    .subtitle {
        margin-bottom: 50px;
    }

    .text {
        font-size: 16px;
        margin-bottom: 65px;
    }

    .colors {
        display: flex;
        gap: 36px;
    }

    .btn {
        margin-top: 65px;
    }
}