*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
}

ul{
    list-style: none;
}
.main{
    width: 1440px;
    height: 1024px;
    background: #eff2f9;
}
.card{
    width: 1170px;
    height: 800px;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    background-color: #fff;
    padding: 60px 0 70px 0;

}
.product-image-block{
    width: 540px;
    border-right: 2px solid rgba(20, 20, 20, 0.15);
}
.preview{
    width: 80px;
    height: 80px;
    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
    background-color: #fff;
}

.product-info-block{
padding: 0 60px;
}
.card-title{
    font-family: "Montserrat", sans-serif; ;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.9);
    margin-bottom: 5px;
}
.subtitle{
    font-family: "Lato", sans-serif ;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.4);
}
.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);
    margin-bottom: 60px;
}
.color-option{
    margin-top: 65px;
}
.title{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;
}
.circle{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
}
.blue{
    background-color: #013c7d;
}
.green{
    background-color:  #63cba7;;
}
.red{
    background-color: #d52f29;
}
.black{
    background-color:  #141414;
}
.yellow{
    background-color: #f2c723;
}
li.selected{
    width: 30px;
    height: 30px;
    border-radius: 100%;
   background-color: #fff;
    box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
    padding: 7px;
}
.quantity{
    width: 80px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
    border: none;
    appearance: none;
    background-image: url(./assets/ph_caret-down-bold.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
}
.price{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
}
.btn{
    width: 510px;
    height: 70px;
    background: #141414;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-top: 75px;
}